/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #555;
}
h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.purpose {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purpose p {
    width: 50%;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
.store-main-section{
    display: flex;
}
.store-main-section-left{
    width: 40%;
    position: sticky;
    top: 20px;
}
.store-main-section-right{
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 100px;
}

.table-select-cards{
    margin: 10px 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
}
.table-select-card {
    width: 200px;
    height: 150px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
   }
   
   .table-select-card-inside {
    width: 200px;
    height: 150px;
    background-color: #f5f5f5;
    border-radius:10px;
    transition: all .2s;
   }
   
   .table-select-card-inside:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .table-select-card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }